.hero> div{
  height: 150px;
  background-color: lightgray;
}
.hero{
  
  padding-bottom: 10px;
}
.turn> div{
  height: 380px;
  width: 500px;
}
.turn {
  padding-top: 20px;
  padding-bottom: 40px;
}

.authorimage{
  max-height: 100%;
  max-width: 100%;
}
.answer {
  background-color: darkgray;
  border-left: 35px solid; 
  border-left-color: gray ;
  padding-left : 25px;
  padding-right:  10px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  cursor:pointer 
}
.answer :hover{
  background-color: gray;
}
.continue {
  padding-right: 100px;
  margin-left: 8em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
